{% extends "base.html.twig" %}

{% block body %}
    <h1>Ajout de la categorie :</h1>
    <form method="post">
        <input type="text" name="libelle">
        <input type="text" name="icone">
        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}