{% extends "base.html.twig" %}

{% block body %}
    <h1>Détail de la categorie</h1>
    <p>{{ categorie.libelle }}</p>
    <p>{{ categorie.icone }}</p>
    <p><a href="/categorie/update/{{ categorie.Id }}"> Modifier cette superbe categorie </a></p>
    <p><a href="/categorie/delete/{{ categorie.Id }}"> Supprimer cette superbe categorie </a></p>
{% endblock %}